*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato;
    background-color: #FFFDFD;
}
.header{
    position: fixed;
    top:0 ;
    left:0 ;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    text-decoration: none;
}
.navbar a {
    position: relative;
    font-size: 18px;
    color: black;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
    background-color: transparent;
}
.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: black;
    transition: .3s;
}
.navbar a:hover::before{
    width: 100%;
}

section{
    margin: 100px ;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    position: absolute;
    left: 0;
    top: 0;
    right: 0;

    /* background-color: red; */
}

.cont-1{
    position: absolute;
    left:275px;
    top:250px ;
    display: flex;
    color: var(--main, #1E1E1E);
    font-size: 96px;
    font-weight: 800;
    margin: 0px 10px;
   
}
.cont-2{
    position: absolute;
    left: 650px;
    top:350px ;
    color: var(--main, #1E1E1E);
    font-family: Lato;
    font-size: 96px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    background-color: transparent;
}
.rect-1{
    display: flex;
    width: 540px;
    justify-content: space-between;
    position: absolute;
    left: 550px;
    top:250px;
}
.rect-2{
    position:absolute;
    left: 250px;
    top: 360px;
    bottom: 402px;
    width: 341px;
    height: 100px;
    flex-shrink: 0;
}


.rect-1{
    animation-duration: 3s;
    animation-name: slidein;
}
@keyframes slidein {
    from{
    margin-left: 100%;
    width: 40%;
    }
} to {
    margin-left: 0%;
    width: 100%;
}
.rect-2{
    animation-duration: 3s;
    animation-name: slidein1;
}
@keyframes slidein1 {
    from{
    margin-left: 0%;
    width: 0%;
    }
} to {
    margin-right: 100%;
    width: 100%;
} 

.container {
    display:block;
    padding: 100px 100px;
    top:800px;
    width: 100%;
    position: absolute;
}

.head{
    padding:20px 20px;
    color: #1E1E1E;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    display: flex;
    line-height: normal;
}

.about p{
    padding:20px 20px;
    width: 759px;
    height: 552px;
    flex-shrink: 0;
    color: #1E1E1E;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 200px;
}
.frameworks img{
    margin: 0px 0px;
    position: absolute;
}
.pp{
    margin: 20px 20px;
    position: absolute; 
    border-radius: 100px;
    top:200px;
    left: 1050px;
    width: 250px;
}
.p0{
    position: absolute;
    top: 830px;
    width: 50px;
    left: 125px;
    border-radius: 100px;
}
.p1{
    position: absolute;
    top: 830px;
    width: 50px;
    left: 200px;
    border-radius: 100px;
}
.p2{
    position: absolute;
    top: 830px;
    width: 50px;
    left: 275px;
    border-radius: 100px;
}
.quote {
    position: absolute;
    top: 600px;
    left: 1000px;
}
.project-0,
.project{
    display: flex;
    justify-content: space-between;
    padding: 200px 10px;
    color: #1E1E1E;
    
}
.project img{
    border-radius: 10px;
    object-fit: cover;
    /* object-position: top; */
    max-height: 245px;
    
}
.project a{
    text-decoration: none;
    background-color: transparent;
    color: #1E1E1E;
}
.card {
    border-radius: 10px;
    margin-left: 20px;
    display: inline;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    height: 20%;
}
.card:hover {
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-content {
    border-radius: 10px;
    padding: 20px 16px; 
}
.card-0 {
    border-radius: 10px;
    margin-left: 20px;
    display:;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    height: 20%;
}