.nav{
    padding: 48px 73px;
    width: 1297px;
    height: 59px;
    flex-shrink: 0;
}
a {
    color: inherit;
    text-decoration: underline rgba(255, 255, 255, 0);
    transition: text-decoration-color 300ms;
}

a:hover{
    text-decoration:underline;
}
.cont-1{
    position: absolute;
    left:318px;
    top:390px ;
    color: var(--main, #1E1E1E);
    font-family: Lato;
    font-size: 96px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.rect-1{
    position: absolute;
    left: 569px;
    top:406px;
    width: 550px;
    height: 100px;
    flex-shrink: 0;
}